body {
background-image: url("partizan.webp");
}

#container{
   

}

a {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
    border-radius: 5px;
    color: white;
    border-style: solid 2px white;
    
}

a:link {
  color: white;
}




a:hover {
  color: yellow;
}


